<section class="main-container">
  <!--  <h2>{{ isEditing ? 'Voeg toe' : 'Update' }}</h2>-->

  <form [formGroup]="personForm" class="addressEntity-form" (ngSubmit)="onSubmit()">
    <div>
      <h4>Persoons gegevens</h4>
      <div class="row row-space mt-2">
        <div class="col-2">
          <label for="firstName">Voornaam</label>
          <input id="firstName" type="text" formControlName="firstName" />
          @if (personForm.get('firstName')?.touched && personForm.get('firstName')?.invalid) {
            <div class="text-danger mt-1">
              <small style="color: red">Voornaam is verplicht.</small>
            </div>
          }
        </div>
        <div class="col-3">
          <label for="lastName">Familienaam</label>
          <input id="lastName" type="text" formControlName="lastName" />
          @if (personForm.get('lastName')?.touched && personForm.get('lastName').hasError('required')) {
            <div class="text-danger mt-1">
              <small style="color: red">Naam is verplicht.</small>
            </div>
          }
        </div>
      </div>
      <div class="row row-space mt-2">
        <div class="col-2">
          <label for="birthDate">geboortedag</label>
          <input id="birthDate" type="date" formControlName="birthDate" />
          <div class="text-danger mt-1">
          @if (personForm.get('birthDate')?.touched && personForm.get('birthDate').hasError('required')) {
              <small style="color: red">Geboortedatum is verplicht.</small>
          }
          </div>
        </div>
        <div class="col-3">
          <label for="phoneNumber">Telefoonnummer</label>
          <div class="phone-input-group d-flex">
            <div class="dropdown me-2">
              <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button" id="countryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                @if (selectedCountry) {
                  <img [src]="selectedCountry.flagUrl" width="20" height="15" class="me-2" alt="flag">
                  <span>{{ selectedCountry.phoneCode }}</span>
                } @else {
                  <span>Select</span>
                }
              </button>
              <ul class="dropdown-menu" aria-labelledby="countryDropdown" style="max-height: 300px; overflow-y: auto;">
                @for (country of countries; track country.name) {
                  <li>
                    <button class="dropdown-item d-flex align-items-center" type="button" (click)="selectCountry(country)">
                      <img [src]="country.flagUrl" width="20" height="15" class="me-2" alt="flag">
                      <span>{{ country.name }} ({{ country.phoneCode | phoneFormat }})</span>
                    </button>
                  </li>
                }
              </ul>
            </div>
            <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber" placeholder="Telefoonnummer" />
          </div>
        </div>
      </div>
      <div class="row row-space mt-2">
        <div class="col-2">
          <label for="email">E-mail</label>
          <input id="email" type="email" formControlName="email" class="form-control" />

          @if (personForm.get('email')?.touched && personForm.get('email')?.invalid) {
            <div class="text-danger mt-1">
              @if (personForm.get('email')?.hasError('email')) {
                Ongeldig e-mailadres.
              }
            </div>
          }
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h4>Adres gegevens</h4>
      <div class="row row-space mt-2" formGroupName="address">
        <div class="row row-space mt-2 form-section" formGroupName="city">
          <div class="col-4">
            <div class="form-group">
              <label for="city">Gemeente</label>
              <input id="city" type="text" formControlName="name" (change)="onCitySelected($event)" autocomplete="off" [attr.list]="'cityList-' + cityNames()?.length" />

              <datalist [id]="'cityList-' + cityNames()?.length">
                @for (cityName of cityNames(); track cityName) {
                  <option [value]="cityName"></option>
                }
              </datalist>
            </div>
            @if (personForm.get('address.city.name')?.touched && personForm.get('address.city.name')?.invalid) {
              <div class="text-danger mt-1">
                <small style="color: red">Gemeente is verplicht.</small>
              </div>
            }
          </div>
          <div class="col-1">
            <div class="form-group">
              <label for="postalCode">Postcode</label>
              <input id="postalCode" type="text" inputmode="numeric" maxlength="4" pattern="[0-9]*" formControlName="postalCode" />
            </div>
          </div>
          @if (personForm.get('address.city.postalCode')?.touched && personForm.get('address.city.postalCode')?.invalid) {
            <div class="text-danger mt-1">
              <small style="color: red">Postcode is verplicht.</small>
            </div>
          }
        </div>
        <div class="row row-space mt-2">
          <div class="col-4">
            <div class="form-group">
              <label for="street">Straat</label>
              <input id="street" type="text" formControlName="street" autocomplete="off" [attr.list]="'streetList-' + streetNames()?.length" />
              <datalist [id]="'streetList-' + streetNames()?.length">
                @for (streetName of streetNames(); track streetName) {
                  <option [value]="streetName"></option>
                }
              </datalist>
            </div>
            @if (personForm.get('address.street')?.touched && personForm.get('address.street')?.invalid) {
              <div class="text-danger mt-1">
                <small style="color: red">Straat is verplicht.</small>
              </div>
            }
          </div>
          <div class="col-1">
            <div class="form-group">
              <label for="number">Huisnummer</label>
              <input id="number" type="text" formControlName="number" />
            </div>
            @if (personForm.get('address.number')?.touched && personForm.get('address.number')?.invalid) {
              <div class="text-danger mt-1">
                <small style="color: red">Huisnummer is verplicht.</small>
              </div>
            }
          </div>
          <div class="col-1">
            <div class="form-group">
              <label for="box">Box</label>
              <input id="box" type="text" formControlName="box" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group mt-3" role="group">
      <button type="submit" class="btn btn-primary" [disabled]="personForm.invalid">{{ isEditing ? 'Update' : 'Voeg toe' }}</button>
      <button type="button" class="btn btn-outline-secondary ms-1" (click)="resetForm()">Reset</button>
    </div>
  </form>

  <hr />

  @if (shouldShowPeople) {
    <h4 class="mt-5">Overzicht</h4>
    <div class="user-table-container">
      <table class="user-table">
        <thead>
          <tr>
            <th>Naam</th>
            <th>Geboortedatum</th>
            <th>Telefoonnummer</th>
            <th>E-mail</th>
            <th>Adres</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (person of people; track person.id) {
            <tr>
              <td>{{ person.firstName }} {{ person.lastName }}</td>
              <td>{{ person.birthDate | date: 'dd/MM/yyyy' }}</td>
              <td>{{ person.phoneNumber | phoneFormat }}</td>
              <td>{{ person.email }}</td>
              <td>
                {{ person.address.street }} {{ person.address.number }}{{ person.address.box ? '/' + person.address.box : '' }}, {{ person.address.city.postalCode }} {{ person.address.city.name }}
              </td>
              <td>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="editPerson(person)">Edit</button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" style="text-align: center">No people in the list</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</section>
