
<section class="main-container">
  @if (cityNamesError()) {
    <div class="text-danger mt-1">
      <div style="color: red" class="alert alert-danger">{{cityNamesError()}}</div>
    </div>
  }
  @if (postalCodeError()) {
    <div class="text-danger mt-1">
      <div style="color: red" class="alert alert-danger">{{postalCodeError()}}</div>
    </div>
  }
  @if (streetNamesError()) {
    <div class="text-danger mt-1">
      <div style="color: red" class="alert alert-danger">{{streetNamesError()}}</div>
    </div>
  }
  @if (searchError()) {
    <div class="text-danger mt-1">
      <div style="color: red" class="alert alert-danger">{{searchError()}}</div>
    </div>
  }

  <h3 translate>Zoek scherm</h3>

  <form [formGroup]="searchForm" class="addressEntity-form">
    <div class="row row-space mt-2">
      <div class="col-2">
        <label for="firstName">Voornaam</label>
        <input id="firstName" type="text" formControlName="firstName"  />
      </div>
      <div class="col-3">
        <label for="lastName">Familienaam</label>
        <input id="lastName" type="text" formControlName="lastName"  />
      </div>
    </div>
    <!-- gemeente + postcode -->
    <div class="row row-space mt-2">
      <div class="col-4">
        <label for="cityEntity">Gemeente</label>
        <input id="cityEntity"
               type="text"
               formControlName="city"
               class="form-control"
               (input)="onCitySelected($event)"
               autocomplete="off"
               [attr.list]="'cityList-' + cityNames()?.length" />

        <datalist [id]="'cityList-' + cityNames()?.length">
          @for (cityName of cityNames(); track cityName) {
            <option [value]="cityName"></option>
          }
        </datalist>
      </div>
      <div class="col-1">
        <label for="postalCode">Postcode</label>
        <input id="postalCode" type="text" inputmode="numeric" pattern="[0-9]*"
               maxlength="4"
               formControlName="postalCode" placeholder="1234"
               [class.is-invalid]="searchForm.get('postalCode')?.invalid && searchForm.get('postalCode')?.touched"/>

        @if (searchForm.get('postalCode')?.errors?.['pattern'] && searchForm.get('postalCode')?.touched) {
          <div class="text-danger mt-1">
            <small style="color: red">Warning: Please enter numbers only.</small>
          </div>
        }
      </div>
    </div>
    <!-- straat + huisnummer -->
    <div class="row row-space mt-2">
      <div class="col-4">
        <label for="street">Straat</label>
        <input id="cityEntity"
               type="text"
               formControlName="street"
               class="form-control"
               autocomplete="off"
               [attr.list]="'streetList-' + streetNames()?.length" />

        <datalist [id]="'streetList-' + streetNames()?.length">
          @for (streetName of streetNames(); track streetName) {
            <option [value]="streetName"></option>
          }
        </datalist>
      </div>
      <div class="col-1">
        <label for="number">Huisnummer</label>
        <input id="number" type="text" formControlName="number"  />
      </div>
    </div>

    <div class="btn-group mt-3" role="group">
      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!searchForm.valid">Zoek op</button>
      <button type="button" class="btn btn-outline-secondary ms-1" (click)="initForm()">Reset</button>
    </div>

  </form>

  @if (persons()?.length > 0) {
    <div class="mt-3">
      <table class="user-table">
        <thead>
        <tr>
          <th>Naam</th>
          <th>Adres</th>
          <th></th>
<!--          <th>Number</th>-->
<!--          <th>Postal Code</th>-->
<!--          <th>City</th>-->
        </tr>
        </thead>
        <tbody>
          @for (person of persons(); track person.lastName) {
            <tr>
              <td>{{ person.firstName }} {{ person.lastName }}</td>
              <td>{{ person.address?.street }} {{ person.address?.number }}, {{ person.address?.city?.postalCode }} {{ person.address?.city?.name }}</td>
              <td><button type="button" class="btn btn-outline-primary btn-sm" (click)="onEdit(person)">Wijzig</button></td>
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td></td>-->
            </tr>

          } @empty {
            <tr>
              <td colspan="6" style="text-align: center">Nothing found</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }


</section>
